.gamesDesign {
    width: 100vw;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;

    margin-top: 2em;

    background-image: url('src/img/tablero 3.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.titleBackground{
    background-color: rgba(255, 255, 255, 0.367);
    border-radius: 1em;
}

.allGames {
    width: 76vw;
    height: 70vh;

    color: rgb(54, 93, 132);
}

.gameDesign {
    width: 70vw;
    height: 24vh;
    
    color: whitesmoke;
    font-weight: bold;
    font-size: medium;

    background-color:rgba(201, 144, 22, 0.995);
    border-radius: 2em;

    margin: 0.8em;
    padding: 1em;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.gameNombreDesign {
    width: 20vw;
    height: 8vh;
   
    padding: 0.5em;
  

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;

}

.userEmailDesign {
    width: 20vw;
    height: 8vh;
  
    padding: 0.5em;
    

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;

}
.gameBorrar{
    width: 20vw;
    height: 12vh;
   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    color: whitesmoke;
    background-color:  rgb(54, 93, 132);
    font-weight: bold;

    border-radius: 1.3em;
    margin: 2em;
}

.gameBorrar:hover{
    color: rgb(201, 144, 22);
    background-color: whitesmoke;
    font-weight: bold;
}

.buttonPannel{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 1.4em;
    padding: 1em;
}
.directGames{
    width: 17vw;
    height: 8vh;

    background-color:  rgb(135, 37, 20);
    color: whitesmoke;
    border-radius: 1em;
    font-weight: bold;
    font-size: medium;
    margin: 1.2em;
}
.directTables{
    width: 17vw;
    height: 8vh;
    margin: 1.2em;

    background-color:  rgb(135, 37, 20);
    color: whitesmoke;
    border-radius: 1em;
    font-weight: bold;
    font-size: medium;
}
