.gamesDesign {
    width: 100vw;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;

    background-image: url('../../img/fondocolores.png');
    /* background-size:cover; */
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.botonesRedirect{
    display: flex;
    flex-direction: row;
}

.allGames {
    width: 76vw;
    height: 70vh;

    color: rgb(54, 93, 132);
}

.gameDesign {
    width: 70vw;
    height: 24vh;
    
    color: rgb(135, 37, 20);
    font-weight: bold;
    background-color:rgba(54, 93, 132, 0.482);
    border-radius: 1em;

    margin: 0.8em;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.gameNombreDesign {
    width: 20vw;
    height: 8vh;
   
    padding: 0.5em;
  

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;

}

.userEmailDesign {
    width: 20vw;
    height: 8vh;
  
    padding: 0.5em;
    

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;

}
.gameBorrar{
    width: 20vw;
    height: 8vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    margin: 1em;

    color: whitesmoke;
    background-color:  rgb(201, 144, 22);
    font-weight: bold;
}

.gameBorrar:hover{
    color: rgb(201, 144, 22);
    background-color: whitesmoke;
    font-weight: bold;
}