.registerDesign{
    width: 100vw;
    height: 88vh;
    overflow-x:hidden;
    overflow-y: hidden;

    background-image: url('../../img/fondocolores.png');
    /* background-size:cover; */
    background-position: center;
    background-repeat: no-repeat;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.error{
    color: rgb(135, 37, 20);
    font-weight: bold;
    font-size: small;

    height: 0.6em;
    margin-bottom: 0.2em;
    padding: 0.5em;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  
  }