.reservaDesign {
    width: 100vw;
    height: 80vh;
    overflow-x: visible;
    overflow-y: auto;

    color: rgb(224, 158, 15);

    font-weight: lighter;
    font-size: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mesasDesign {
    
    width: 100vw;
    height: 60vh;

    background-image: url('src/img/tablero 3.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 1em;
    padding:2em;
    /* background-color: rgba(54, 93, 132, 0.342); */
    color:whitesmoke;

}
.mesaDesign {
    width: 2em;
    height: 2em;

    border-radius: 2em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: whitesmoke;
    color:rgb(135, 37, 20);

}

.mesaDesign:hover {
    background-color: rgb(135, 37, 20);
    color:whitesmoke;
}

.gamesDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding:2em;
    background-color: rgb(135, 37, 20);
    color:whitesmoke;

}
.gameDesign {
    width: 4em;
    height: 4em;

    border-radius: 2em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: whitesmoke;
    color:rgb(135, 37, 20);

}

.gameDesign:hover {
    background-color: rgb(155, 121, 9);
    color:whitesmoke;
}

