.inputDesignProfile {
    height: 3em;
    width: 18em;

    border-radius: 1em;
    margin: 0.8em;
    
    text-align: center;
    font-size: small;
    font-weight: bold;

    color: black;

    background-color:   rgba(255, 255, 255, 0.521);

}

.inputDesignProfileError{

    color: rgb(135, 37, 20);
    border: 0.2 solid rgb(135, 37, 20);

}