.profileDesign{
    width: 100vw;
    height: 80vh;
    overflow-x:hidden;
    overflow-y: auto;

    background-image: url('src/img/tablero 4.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}
.tituloProfile{
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(54, 93, 132);
    margin: 1em;

}
.pannelProfile{
    background-color: rgba(255, 255, 255, 0.735);
    border-radius: 2em;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}