.homeDesign{
    width: 100vw;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;

    padding-top: 5em;

    background-image: url('../../img/fondocolores.png');
    /* background-size:cover; */
    background-position: center;
    background-repeat: no-repeat;

    color: black;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.logoDesign{
    width: 36vw;
    margin-top: 10em;

}
.cartaDesign{
    width: 100vw;
    margin-top: 2em;
    background-color: rgb(255, 255, 255);
}