.homeDesign{
    width: 100vw;
    height: 88vh;

    background-image: url('../../img/fondocolores.png');
    /* background-size:cover;  EN un futuro el logo o findo blanco */
    background-position: center;
    background-repeat: no-repeat;


    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}