.CDropDownDesign{
    
    height: 3em;
    width: 10em;

    border-radius: 1em;

    font-size:medium;
    font-weight: bold;

    color: whitesmoke;
    text-align: center;

    background-color:  rgb(201, 144, 22);
   
    margin: 1em;

}