.headerDesign {

    height: 12vh;
    width: 100vw;

    background-color:rgb(255, 255, 255);
    color: rgb(135, 37, 20);

    display:flex;
    justify-content:flex-end;
    align-items:center;
    flex-direction:row;
}

.authMenu {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    flex-direction:row;
    margin-right: 2vw;
}