.headerDesign {

    height: 20vh;
    width: 100vw;

    background-color:rgba(255, 255, 255, 0);
    color: rgb(135, 37, 20);
    padding:2em;

    display:flex;
    justify-content:flex-end;
    align-items:center;
    flex-direction:row;
    font-size: small;

}

.authMenu {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-right: 2vw;
}

